
<div class="footballer-info">
<h3>  <%= @footballer.first_name%> <%=@footballer.last_name%> </h3>
<h4> <%= @footballer.team %> <%= @footballer.nationality %> <%= @footballer.caps %> </h4>
<%= image_tag(@footballer.image, width: 500)%>

</div>